* {
    margin: 0;
    padding: 0;
  }
  
  /* nav section start here */
  header {
    background: #062539;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .nav_logo img {
    height: 47px;
    width: 120px;
  }
  .nav_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: white;
    padding: 10px 0px;
  }
  .nav_menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  .nav_menu ul li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .nav_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav_btn button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 22px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
  }
  .nav_btn button:nth-child(2) {
    background: #0ac0a6;
    color: white;
    border: 1px solid #0ac0a6;
  }
  .nav_btn button:nth-child(1):hover {
    background: #0ac0a6;
    color: white;
    border: 1px solid #0ac0a6;
    transition: 0.5s;
  }
  .nav_btn button:nth-child(2):hover {
    background: #062539;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
  }
  .small_display {
    color: white;
    font-size: 40px;
  }
  
  /* Media query */
  @media screen and (max-width: 769px) {
    .lerge_display {
      display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .small_display {
      display: none;
    }
  }
  /* Media query */
  
  /* nav section end here */
  
  /* banner section start here */
  .banner_section {
    background: #062539;
  }
  .banner_div_main {
    max-width: 1300px;
    margin: 0 auto;
  }
  .banner_div_0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  .banner_img img {
    height: 450px;
    width: 100%;
  }
  .banner_div_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .banner_div_1 {
    color: white;
  }
  .banner_div_1 > h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .banner_div_2 {
    padding: 20px 0px;
  }
  .banner_card {
    padding: 5px;
  }
  .banner_card p:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    padding: 5px 0px;
  }
  .banner_card p:nth-child(1) {
    font-size: 20px;
    font-weight: 200;
    color: #0ac0a6;
  }
  .banner_card p:nth-child(3) {
    font-size: 16px;
    font-weight: 200;
  }
  .banner_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px 0px;
    padding-bottom: 30px;
  }
  .banner_btn button {
    background: #0ac0a6;
    border: 1px solid #0ac0a6;
    color: white;
    padding: 14px 28px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 18px;
  }
  .banner_btn button:nth-child(3) {
    background: #e68105;
    border: 1px solid #e68105;
    color: white;
  }
  .banner_btn button:nth-child(3):hover {
    background: #ba6b0b;
    border: 1px solid #ba6b0b;
    color: white;
    transition: 0.5s;
  }
  
  /* media query */
  
  @media screen and (max-width: 769px) {
    .banner_div_0 {
      grid-template-columns: 2fr;
      margin: 10px;
    }
    .banner_btn {
      flex-direction: row;
      width: 100%;
      gap:    0px;
    }
    .banner_btn button {
      width: 100%;
      margin: 10px;
    }
  }
  @media screen and (max-width: 426px) {
      .banner_div_0 {
          gap: 10px;
      }
      .banner_img img {
        height: 250px;
      }
      .banner_div_1 > h1 {
        font-size: 30px;
        font-weight: 700;
      }
      .banner_btn {
          flex-direction: column;
        gap: 0px;
        padding: 0 0 10px 0;
      }
      .banner_div_2 {
          padding: 10px 0px;
        }
    }
  /* media query */
  
  /* banner section end here */
  
  /* devopment section start here */
  .development_section {
    max-width: 1300px;
    margin: 0 auto;
  }
  .development_title {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding: 30px 0px;
    max-width: 720px;
    margin: 0 auto;
  }
  .development_card_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-row-gap: 50px;
    margin-bottom: 60px;
  }
  .development_card:hover {
    background: #e7e7e7;
    transition: 0.5s;
  }
  .development_card {
    padding: 30px 20px;
    border: 1px solid #c6d7d7;
  }
  .development_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .development_img img {
    height: 100px;
    width: 100px;
  }
  .development_content {
    text-align: center;
  }
  .development_content > h2 {
    padding: 20px 0px;
  }
  
  /* media query */
  @media screen and (max-width: 769px) {
    .development_card_div {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 10px;
      gap: 10px;
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 426px) {
    .development_card_div {
      grid-template-columns: repeat(1, 1fr);
    }
    .development_title {
      font-size: 30px;
      font-weight: 700;
    }
  }
  /* media query */
  
  /* devopment section end here */
  
  /* Organization section start here */
  .organization_section {
    background: #062539;
  }
  .organization_main_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* gap: 30px; */
    max-width: 1300px;
    margin: 0 auto;
  }
  .organization_content {
    color: white;
  }
  .organization_content > h1 {
    font-size: 36px;
    font-weight: 700;
  }
  .organization_img img {
    height: 400px;
    width: 100%;
  }
  .organization_btn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
  }
  .organization_btn button {
    background: white;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 18px;
  }
  .organization_btn button:nth-child(1) {
    background: #0ac0a6;
    border: 1px solid #0ac0a6;
    color: white;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* media query */
  @media screen and (max-width: 769px) {
    .organization_main_div {
      grid-template-columns: 1fr;
    }
    .organization_img img {
      height: 300px;
      width: 100%;
    }
    .organization_content {
      padding: 10px;
    }
    .organization_btn {
      gap: 6px;
      margin: 10px 0px;
    }
  }
  /* media query */
  
  /* Organization section end here */
  
  /* product section start here */
  .product_section_main {
    max-width: 1300px;
    margin: 0 auto;
  }
  .product_section_main > h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    padding-top: 50px;
  }
  .product_card_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0px;
  }
  .product_div {
    padding: 20px 10px;
    border: 1px solid #c6d7d7;
    text-align: center;
    box-shadow: 0 7px 29px 0 #63636e33;
    border-radius: 8px;
    width: 100%;
    height: 220px;
  }
  .product_div > h2 {
    padding: 10px 0px;
  }
  .product_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product_img > img {
    height: 100px;
    width: 100px;
  }
  .product_scalable_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
  }
  .product_scalable_img {
  }
  .product_scalable_img > img {
    height: 600px;
    width: 90%;
  }
  .product_scalable_content > h1 {
    font-size: 50px;
    font-weight: 900;
    padding-top: 50px;
  }
  .product_scalable_content > p {
    font-size: 20px;
    font-weight: 200;
    color: #787878;
    margin: 10px 0px;
  }
  
  /* media query */
  @media screen and (max-width: 769px) {
    .product_card_div {
      flex-direction: row;
      padding: 0 10px;
    }
    .product_div {
      height: 250px;
    }
    .product_scalable_div {
      grid-template-columns: 1fr 1fr;
      margin-top: 20px;
    }
    .product_scalable_img > img {
      height: 600px;
      width: 90%;
    }
    .product_card_div {
      gap: 10px;
      margin: 20px 0px;
    }
    .product_scalable_content > h1 {
      font-size: 30px;
      font-weight: 700;
      padding-top: 20px;
    }
  }
  @media screen and (max-width: 426px) {
    .product_card_div {
      flex-direction: column;
    }
    .product_scalable_div {
      grid-template-columns: 1fr;
    }
    .product_scalable_img > img {
      height: 300px;
      width: 100%;
    }
    .product_scalable_content > h1 {
      font-size: 30px;
      font-weight: 700;
      padding-top: 20px;
    }
    .product_scalable_content > p {
      font-size: 16px;
      font-weight: 200;
      color: #787878;
      margin: 10px 0px;
    }
  }
  /* media query */
  
  /* product section end here */
  
  /* footer section start here */
  footer {
    background: #062539;
    padding: 40px 0px 10px 0px;
    color: white;
  }
  .footer_man_section {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) minmax(320px, 1fr) repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
  }
  .footer_man_section a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  .footer_man_section a:hover {
    text-decoration: underline;
    color: #3b94ff;
  }
  .footer_man_section p {
    padding: 5px 0px;
  }
  .footer_div_1 img {
    height: 50px;
    width: 130px;
  }
  .footer_div_6 i {
    color: #0ac0a6;
    font-size: 30px;
    padding: 5px;
  }
  .store_main_div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .footer_div_7 {
    grid-column: 2 / 4;
  }
  .footer_div_7 h2 {
    padding-bottom: 10px;
  }
  .store {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 7px 15px;
    border-radius: 30px;
    color: black !important;
    cursor: pointer;
  }
  .store > div > i {
    font-size: 40px;
  }
  .P_store > p {
    padding: 0px 0px !important;
    font-size: 14px;
  }
  .copuright {
    color: #9198b3;
    text-align: center;
    font-size: 20px;
  }
  
  /* media query */
  
  @media screen and (max-width: 769px) {
    .footer_man_section {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 0 10px 0 20px;
    }
    .footer_div_7 {
      grid-column: 1/3;
    }
    .store {
      width: 180px;
      justify-content: center;
    }
    .app_store {
      padding: 13px 0;
    }
    .store > div > i {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 426px) {
      .footer_div_7 {
        grid-column: 1/3;
      }
      .copuright {
        margin: 10px 0;
      }
      .store_main_div {
        flex-direction: column;
      }
      .app_store{
        width: 100%;
      }
      .play_store{
        width: 100%;
      }
    }
  /* media query */
  
  /* footer section end here */
  
  @media screen and (max-width: 426px) {
    header,
    main,
    footer {
      padding: 10px;
    }
  }